body {
    background: black;
    color: purple;
    text-align: center;
    font-family: Arial;
}

    



h1 {
    font-size: 50px;
}

h1 {

    font-size: 50px; 
    border: 0px solid white;
    border-radius:15px;
    padding:20px;

}

button {

     color:white;
     background:black;

}

button  {
  
      color:black;
      background:white;
}

button:hover {

   background-color:purple;
   color:black;

}



.perfil {

    display: flex;


  align-items: center;

   gap: 50px;

}


  .perfil img {

    width: 100px;

}


body {


  text-align: center;

   margin: 0;

   min-height: 100vh;



    background: linear-gradient(

     120deg,
     #120018,

     #001a33,
     #002b24,
     #331500,
    #220022,
    #ff0066

);


   background-size: 400% 400%;

   animation: prisma 15s ease-in-out infinite;

}

  @keyframes prisma {

   0% {

       background-position: 0% 50%;

}

 50% {

   background-position: 100% 50%;

}

  100% {

   background-position: 0% 50%;

  }

}


150% {

 background-position: 0% 10%

}
