body {
    background: black;
    color:purple;
    text-align: center;
    font-family: Audiowide;
}

    



h1 {
    font-size: 1000px;
}

h1 {

    font-size: 40px; 
    border: 0px solid white;
    border-radius:200px;
    padding:20px;

}

button {

     color:white;
     background:black;

}

button  {
  
      color:black;
      background:white;
}

button:hover {

   background-color:purple;
   color:black;

}



.perfil {

    display: flex;


  align-items: center;

   gap: 50px;

}


  .perfil img {

    width: 100px;

}


body {


  text-align: center;

   margin: 0;

   min-height: 100vh;



   background:

 radial-gradient(

 ellipse 80% 50% at 10% 50%,
 #8a2be2dd,
 transparent 70%

),

 radial-gradient(

 ellipse 80% 50% at 90% 50%,
 #00bfffdd,
 transparent 70%

),

 radial-gradient(

 ellipse 100% 60% at 50% 50%,
 #ff00aa88,
 transparent 75%

),

 #080014;




 

   background-size: 200% 200%;

   animation: mist 35s ease-in-out infinite;

}

  @keyframes mist {

   0% {

       background-position: 0% 50%;

}

 25% {

   background-position: 100% 45%;

}

  50% {

   background-position: 50% 55%;

  }




75% {

 background-position: 0% 45%;

}


100% {

 background-position: 100% 50%;

 }

}





 #mensagem {

  color: black;

 font-size: 50px;

 opacity: 0;

 transition: opacity 1s;

}

 #mensagem.aparecer {

 opacity: 1;

}

 #mensagem.desaparecer {

 opacity: 0;

}






img {

 position: relative;

 top: -700px;

 left:300px;

}


#mensagem {

 color: black;

}
